@page
@model AppointmentTracker.Pages.Appointments.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Appointment.StartDate" class="control-label"></label>
                <input asp-for="Appointment.StartDate" class="form-control" />
                <span asp-validation-for="Appointment.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.EndDate" class="control-label"></label>
                <input asp-for="Appointment.EndDate" class="form-control" />
                <span asp-validation-for="Appointment.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.ClientId" class="control-label"></label>
                <select asp-for="Appointment.ClientId" class ="form-control" asp-items="ViewBag.ClientId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Details" class="control-label"></label>
                <input asp-for="Appointment.Details" class="form-control" />
                <span asp-validation-for="Appointment.Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
